<div class="app-home">
  <h1 class="motto">The Fastest Angular on the Web</h1>
  <div class="home-words">
    <p>
      Fast and secure sites and apps delivered by pre-rendering files and
      serving them directly from a CDN, removing the requirement to manage or
      run web servers.
    </p>
  </div>
</div>

<div class="contact">
  <h2>We can't wait to hear from you!</h2>
  <div class="form-box"></div>
</div>

<form name="contact-form" class="contact-form" data-netlify="true" method="POST" action="/success">
  <label> name: </label>
  <input type="text" name="name" class="input" />
  <label> email: </label>
  <input type="email" name="email" class="input" required />
  <label> message: </label>
  <textarea name="message" class="textarea" placeholder="message"> </textarea>
  <button type="submit">Submit</button>
  <input type="hidden" name="form-name" value="contact-form" />
</form>
