<div class="app-home">
  <h1 class="motto">The Fastest Angular on the Web</h1>
  <div class="home-words">
    <p>
      Fast and secure sites and apps delivered by pre-rendering files and
      serving them directly from a CDN, removing the requirement to manage or
      run web servers.
    </p>
  </div>
</div>

<div class="home-box">
  <div class="home-card">
    <h1 class="home-card-header">Fast</h1>
    <img
      class="home-card-image"
      src="https://res.cloudinary.com/dnfawl8xp/image/upload/v1585595007/ken-reid-fUknnVKe3wA-unsplash_1_usbfih.jpg"
      alt="dog"
    />
    <p class="home-card-content">
      <b>Faster websites.</b>
      Optimize your site with prerendering and global delivery.
    </p>
  </div>
</div>

<div class="home-box">
  <div class="home-card">
    <h1 class="home-card-header">Fast</h1>
    <img
      class="home-card-image"
      src="https://res.cloudinary.com/dnfawl8xp/image/upload/v1585595007/david-manning-E9VhlOb9gmk-unsplash_1_rvni2o.jpg"
      alt="dog"
    />
    <p class="home-card-content">
      <b>Faster websites.</b>
      Optimize your site with prerendering and global delivery.
    </p>
  </div>
</div>

<div class="home-box">
  <div class="home-card">
    <h1 class="home-card-header">Fast</h1>
    <img
      class="home-card-image"
      src="https://res.cloudinary.com/dnfawl8xp/image/upload/v1585595007/kevin-bree-q5FGsXNFtbk-unsplash_1_ya8bpq.jpg"
      alt="dog"
    />
    <p class="home-card-content">
      <b>Faster websites.</b>
      Optimize your site with prerendering and global delivery.
    </p>
  </div>
</div>

<div class="home-box">
  <div class="home-card">
    <h1 class="home-card-header">Fast</h1>
    <img
      class="home-card-image"
      src="https://res.cloudinary.com/dnfawl8xp/image/upload/v1585595007/jason-murphy-k8lM_bBb938-unsplash_1_akc1xj.jpg"
      alt="dog"
    />
    <p class="home-card-content">
      <b>Faster websites.</b>
      Optimize your site with prerendering and global delivery.
    </p>
  </div>
</div>
